{% extends 'base.html' %}

{% block content %}
<br/>
<br/>
<div class="overlay"></div>

<div class="container"></div>
    <div class="row">
        <div class="col-6">
            <h1>Login</h1>

        <form class="login" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="primaryAction" type="submit">Login</button>   
        </form>

        </div>
        <div class="col-6">
            <h1 class="display-4 logo-font text-black alert alert-primary">
                    The new collections are here <span class="badge badge-secondary">New</span>
            </h1>
            <br/>
        </div>
    </div>
</div>


{% endblock %}