{% extends 'base.html' %}

{% block content %}
<br/>
<br/>
<div class="overlay"></div>

<div class="container"></div>
    <div class="row">
        <div class="col-6">
            <h1>Login</h1>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
                <br/>
                <br/>
                <br/>
                <h5>Not registered?
                    <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-info">Register</button></a>
                </h5>
                <br/>
                <br/>
                 <h5>Change password?
                    <a href="{% url 'change_password' %}"><button type="button" class="btn btn-outline-info">Change Password</button></a>
                </h5>
            </form>
        </div>
        <div class="col-6">
            <h1 class="display-4 logo-font text-black alert alert-primary">
                    The new collections are here <span class="badge badge-secondary">New</span>
            </h1>
            <br/>
        </div>
    </div>
</div>


{% endblock %}