{% extends 'base.html' %}

{% block content %}
<br/>
<br/>
<div class="overlay"></div>

<div class="container"></div>
    <div class="row">
        <div class="col-6">
            <h1>Register</h1>

        <form class="login" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction" type="submit">{% url "register" %}</button>
            
        </form>

        </div>
        <div class="col-6">
            <h1 class="display-4 logo-font text-black alert alert-primary">
                    The new collections are here <span class="badge badge-secondary">New</span>
            </h1>
            <br/>
        </div>
    </div>
</div>


{% endblock %}