
{% extends "base.html" %}

{% load static %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            {% for product in object_list %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <div class="card-body pb-0">
                            <h4 class="mb-0"><span class="badge badge-light align-middle">{{ product.name }}
                                   {% if product.is_new %}
                                    <h4> <span class="badge badge-secondary">New</span></h4>
                                {% else %}
                                    <small class="text-muted"></small>
                                {% endif %}
                            </span></h4>
                        </div>
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" width="400" height="500">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="lead mb-0 text-left font-weight-bold">
                    
                                        {% if product.rating %}
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        {% else %}
                                            <small class="text-muted"></small>
                                        {% endif %}
                                
                                ${{ product.price }}</p>

                            {% if product.size %}
                                <h5> <span class="badge badge-secondary">{{ product.size }} cm</span></h5>
                            {% else %}
                                <small class="text-muted"></small>
                                {% endif %}
                            
                        </div>
                        
                    </div>
                </div>
    
                {% endfor %}
            </div>
    </div>

{% endblock %}